.dining_menu {
  text-align: center;
  font-size:20px
}

.meal_button {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.meal_button button {
  background-color: #535353; /* Green */
  border: 3px solid darkgoldenrod;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  transform: rotate(-90deg);
  width: 160px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.suggButton {
  background-color: #ffea2d; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  height: 155px;
  width: 155px;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

button:hover {
  background: #d1d1d1;
  border: 1px solid #8b8b8b;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.textBox {
  width: 600px;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(2, 2, 2);
  padding: 50px;
  text-align: center;
  margin:0 auto;
  font-family: "Times New Roman", Times, serif;
  /* float: left; */
}

body {
  background-image: url("img/patrick-dempsey.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: flex;
  vertical-align: middle;
  float: left;
  height: 1000px;
}

.bigboi {
  display: flex;
  align-items: center; /* align vertical */
}

